body,
h2 {
  font-family: Arial, sans-serif;
}

div,
p {
  inline-size: 320px;
  text-align: center;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

body {
  color: #777;
  text-align: center;
  background-color: #000c2f;
}

h1 {
  font-size: 12rem;
  color: #99a7af;
  margin: 4.5rem 0 0;
}

h2 {
  color: #de6c5d;
  font-size: 1.3rem;
  letter-spacing: -1px;
  margin-block-start: -3px;
  margin-block-end: 2.5rem;
}

a:active,
a:hover,
a:link,
a:visited {
  color: #34536a;
}