#wrapper,
body,
html {
  block-size: 100%;
}

.container,
.info,
body {
  position: relative;
}

*,
.info p,
p {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

* {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

body {
  background-color: #000c2f;
}

img {
  background-size: auto;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
  opacity: 1;
}

::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
}

.btn {
  color: #000;
  border-color: #ec5900;
  background-color: #ff7000;
}

.btn:hover {
  background: #ec5900;
}

#wrapper {
  min-block-size: 100%;
  inline-size: 100%;
}

#dark,
body.light #light {
  display: block;
  visibility: visible;
}

#light,
body.light #dark {
  display: none;
  visibility: hidden;
}

body.light {
  background-color: #eaff6f;
}

.info {
  z-index: 999;
  margin-block-start: 200px;
  margin-block-end: 60px;
}

.info p {
  font-size: 1rem;
  line-height: 24px;
  color: #1b334d;
  margin: 30px 0;
}

#light .info img {
  margin-inline-start: -54px;
}

#light .info {
  margin-block-start: 94px;
}

.light .text-d,
.switcher input.switcher-value,
.text-l {
  display: none;
}

.light .text-l,
.text-d {
  display: inline-block;
}

.switcher {
  cursor: pointer;
  inline-size: 185px;
  block-size: 84px;
  position: absolute;
  inset-block-start: 100px;
  inset-inline-start: 65px;
  z-index: 9999;
}

.switcher * {
  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.switcher .sw_btn {
  background: url('https://mephisto5558.github.io/Website-Assets/img/btn.png') no-repeat;
  inline-size: 42px;
  block-size: 45px;
  display: block;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  inset-block-start: 22px;
  inset-inline-start: 65px;
}

.switcher .bg {
  background: url('https://mephisto5558.github.io/Website-Assets/img/bg_btn.png') no-repeat;
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 0;
}

.switcher input.switcher-value:checked ~ .sw_btn {
  margin-inline-start: 55px;
}

.switcher .text {
  color: #fff;
  font-size: .875rem;
  position: absolute;
  inset-inline-start: -24px;
  inset-block-start: 21px;
}

.light .switcher .text {
  color: #343f69;
}

.animationload {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  background-color: #fff;
  z-index: 999999;
}

.loader {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  margin: -100px 0 0 -100px;
  inline-size: 200px;
  block-size: 200px;
  background-image: url('https://mephisto5558.github.io/Website-Assets/img/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-inline-size:1200px) {
  .info h1 {
    font-size: 6.875rem;
  }

  .info h2 {
    font-size: 3.4375rem;
    line-height: 55px;
  }
}

@media (max-inline-size:992px) {
  .info h1 {
    font-size: 3.5rem;
    line-height: 36px;
    margin-block-start: 85px;
  }

  .info h2 {
    font-size: 1.875rem;
    line-height: 16px;
  }

  #dark .info img,
  #light .info img {
    inline-size: 480px;
  }

  #light .info {
    margin-block-start: 154px;
  }
}

@media (max-inline-size:767px) {

  #dark .info img,
  #light .info img {
    inline-size: 360px;
  }

  .info {
    text-align: center;
  }

  .info h1 {
    margin-block-start: 80px;
  }

  .switcher {
    inset-block-start: 20px;
  }
}

@media (max-inline-size:500px) {
  .info p {
    font-size: 1rem;
  }

  #dark .info img {
    inline-size: 260px;
  }

  #light .info img {
    inline-size: 260px;
    margin-inline-start: -24px;
  }
}

@media (max-inline-size:440px) {
  .info p br {
    display: none;
  }
}