header {
  & > h1 {
    font-size: 100%;
  }

  & > #timer {
    font-size: 2rem;
  }

  & > #color-switcher-container {
    font-size: 1.2rem;

    & > div > input {
      inline-size: 3.5vi;
      block-size: 3.5vi;
    }
  }
}

#sudoku-container {
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem 0;
  padding: 1rem 0;
}

table#sudoku {
  grid-row: 1;
  grid-column: 1;
  inline-size: 95vi;
  max-inline-size: 500px;

  & td {
    & > input {
      font-size: 200%;
    }

    & > .notes > span {
      font-size: .75rem;
    }
  }
}

#number-overview {
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
  max-inline-size: 80vi;
  font-size: 1.5rem;
}

#toggle-notes-btn {
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
  inline-size: 60%;
  padding: .5rem;
  font-size: 1.5rem;
}

#settings-container {
  grid-row: 4;
  grid-column: 1;
  justify-self: center;
  inline-size: 80%;
  flex-direction: column;

}

#btn-container {
  grid-row: 5;
  grid-column: 1;
  gap: .5rem;

  & button {
    font-size: 1.5rem;
    flex-grow: 1;
  }
}

#message-container {
  grid-row: 6;
  grid-column: 1;
}