:root {
  /* requires hex values */
  --background-color: #2f4f4f;
  --foreground-color: #000;
  --foreground-color-inverted: #fff;
  --foreground-color-secondary: #bababa;
  --foreground-color-secondary-inverted: #454545;
  --cell-size: 1.4rem;
  --sudoku-row-count: 9;
  
  font-family: Arial, sans-serif;
  font-size: 250%;

  /* not supported in firefox yet: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_size_and_style_queries#browser_compatibility */
  /* @container style(--sudoku-row-count) { */
  &[data-sudoku-box-size='4'] {
    font-size: 150%;
  }

  &[data-sudoku-box-size='5'] {
    font-size: 125%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

button {
  padding: .1rem .2rem;
  background-color: rgba(0, 0, 0, .15);
  cursor: pointer;
  border: none;
  border-radius: .1rem;
  font-size: .5rem;
}

input:not([type='range']):hover,
input[type='range']:hover::-webkit-slider-thumb,
input[type='range']:hover::-moz-range-thumb,
input[type='range']:hover::-webkit-slider-runnable-track,
input[type='range']:hover::-moz-range-track {
  backdrop-filter: brightness(115%);
}

button:hover,
button:focus,
input:not([type='range']):focus,
input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:focus::-moz-range-thumb,
input[type='range']:focus::-webkit-slider-runnable-track,
input[type='range']:focus::-moz-range-track {
  backdrop-filter: brightness(150%);
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  backdrop-filter: none;
}

.hidden {
  display: none !important;
}

header {
  display: flex;
  padding: .1rem .2rem;
  background: rgba(0, 0, 0, .1);
  font-size: 40%;

  & > #timer {
    align-self: center;
    font-size: 150%;
  }

  & > h1 {
    margin: auto;
  }

  & > #color-switcher-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: .2rem .2rem;

    & > div {
      display: contents;

      & > label {
        justify-self: end;
      }

      & > input {
        width: .5rem;
        height: .5rem;
        padding: 0;
        cursor: pointer;
        appearance: none;
        border: 1px solid gray;

        &::-webkit-color-swatch,
        &::-moz-color-swatch {
          border: 1px solid gray;
        }

        &::-webkit-color-swatch-wrapper {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

#loading-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  cursor: progress;

  &.hiding {
    animation: fadeOut 0.5s ease-out forwards;
  }

  & > h1 {
    font-size: 6.5vh;
    margin-top: 5rem;
  }

  & > p {
    font-size: 2vh;
    color: var(--foreground-color-secondary);
    margin-top: auto;
  }

  & > button {
    margin-bottom: auto;
    font-size: 2vh;
  }
}

#sudoku-container {
  padding: .5rem .2rem 0;
  gap: .1rem;
  justify-content: center;
  display: grid;
  grid-auto-rows: calc(var(--cell-size) - .05rem);
  /* half gap */
}

table#sudoku {
  border-collapse: collapse;
  grid-column: 2;
  grid-row: 1 / var(--sudoku-row-count);
  justify-self: center;
  margin: 0 1rem;
  height: fit-content;

  & > colgroup,
  & > tbody {
    border: solid medium;
  }

  & td {
    border: solid thin;
    padding: 0;
    height: var(--cell-size);
    width: var(--cell-size);

    & > input {
      background-color: transparent;
      color: var(--foreground-color-inverted);
      border: none;
      appearance: textfield;
      text-align: center;
      padding: 0;
      width: 100%;
      height: 100%;
      font-size: inherit;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }

      &:not(.solution):disabled {
        color: var(--foreground-color);
      }
    }
  }

  & .error td,
  & td.error {
    background-image: linear-gradient(45deg,
        rgba(255, 0, 0, 0.25) 25%, transparent 25%,
        transparent 50%, rgba(255, 0, 0, 0.25) 50%,
        rgba(255, 0, 0, 0.25) 75%, transparent 75%,
        transparent 100%);
    background-size: var(--cell-size) var(--cell-size);
    /* table cell size */
    background-position: left;
  }
}

#number-overview {
  grid-row: 2;
  grid-column: 1;
  border-collapse: collapse;
  border: solid .04rem;
  justify-self: left;
  font-size: 60%;

  & > tbody > tr > td {
    border: solid .01rem;
    min-width: 1rem;
    width: min-content;
    padding: .3rem;

    & > span {
      color: var(--foreground-color-secondary);
      float: right;

      &.complete {
        color: #19be14;
      }
    }
  }
}

#settings-container {
  justify-self: center;
  width: 75%;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30%;
  margin: .5rem 0;
  grid-row: 1;
  grid-column: 3;

  & > datalist {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--foreground-color-secondary);
  }

  & > input[type=range] {
    background-color: transparent;
    cursor: pointer;
    appearance: none;
    width: 100%;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
      height: .2rem;
      background-color: rgba(0, 0, 0, .15);
      border-radius: .2rem;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      height: .5rem;
      width: .5rem;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.15);
      border: .08rem solid var(--foreground-color);
      border-radius: 50%;
    }

    &::-webkit-slider-thumb {
      appearance: none;
    }
  }

  & > output {
    color: var(--foreground-color-secondary);
  }

  & > #size-option-container {
    position: relative;

    & > input[type=number] {
      border: 1px solid var(--foreground-color);
      background-color: rgba(0, 0, 0, .15);
      color: var(--foreground-color-secondary);
      border-radius: 4px;
      padding: .15rem 0;
      width: 2rem;
      text-align: center;
      font-size: inherit;
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
      }
    }

    & > #stepper-buttons {
      position: absolute;
      right: 1px;
      top: 1px;
      bottom: 1px;
      display: flex;
      flex-direction: column;
      border-left: 1px solid var(--foreground-color);

      & > button {
        appearance: none;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        width: .75rem;
        color: var(--foreground-color-secondary);
        font-size: 0.8em;

        cursor: pointer;
        transition: background-color 0.2s;

        &#stepper-up {
          border-bottom: 1px solid var(--foreground-color);
        }
      }
    }
  }
}

#btn-container {
  /*! grid-row: calc(var(--sudoku-row-count) + 3); */
  margin: .1rem 0;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  gap: .5rem;
  grid-row: 4;
  grid-column: 3;
}

#message-container {
  grid-column: 2;
  grid-row: calc(var(--sudoku-row-count) + 1);
  height: max-content;
  text-align: center;

  & > #error-info {
    color: red;
  }

  & #win-info {
    color: greenyellow;
  }
}

#sudoku:not(:has(tbody .error)) ~ #message-container > #error-info {
  display: none;
}

#sudoku:is(:has(tbody .error), :has(tbody > tr > td > input:is(:invalid, .solution))) ~ #message-container > #win-info {
  display: none;
}

#sudoku:is(:has(tbody .error), :has(tbody > tr > td > input:is(:invalid, .solution))) ~ #message-container {
  display: none;
}

/* 
@media (max-width: 600px) {
  #sudoku-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  table#sudoku {
    order: 1;
  }

  #timer {
    order: 2;
  }

  #number-overview {
    order: 3;
  }

  #difficulty-container {
    order: 4;
  }

  #btn-container {
    order: 5;
  }

  #message-container {
    order: 6;
  }

  table#sudoku {
    width: 95vw;
    max-width: 500px;
    /* prevents being to big on large tablets 
    margin-bottom: 1.5rem;

    & > tbody > tr > td {
      height: auto;

      & > input {
        font-size: 5.5vw;
      }
    }
  }

  #timer {
    font-size: 8vw;
    top: .1rem;
  }

  #number-overview {
    font-size: 4vw;
  }

  #difficulty-container {
    width: 80%;
  }

  #btn-container {
    width: 80%;
    gap: 2rem;

    & > button {
      font-size: 4.5vw;
      padding: .5rem .8rem;
    }
  } 
}
*/