body{background:#111}.console-container{color:#fff;display:block;font-family:Arial Black,Helvetica,sans-serif;font-size:4em;height:200px;inset:0;margin:auto;position:absolute;text-align:center;width:800px}
